<ion-header>
  <ion-toolbar>
    <div class='toolbar'>
      <ion-title>Bluetooth</ion-title>
      <ion-icon name="search-circle-outline" (click) = "scan()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let device of devices | async">
      <ion-label>{{device.name || "n/a"}}</ion-label>
      <ion-label>{{device.id}}</ion-label>
      <ion-label>RSSI: {{device.rssi}}</ion-label>
      <ion-button color="success" (click)="onDeviceSelected(device)" shape="round">
        Connect
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>