<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>Select service characteristic to plot</ion-card-header>
  <ion-list>
    <ion-item>
      <ion-label>Services</ion-label>
      <ion-select interface="popover">
        <ion-select-option *ngFor="let service of device.services" value="service">{{service}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Characteristic</ion-label>
      <ion-select interface="popover">
        <ion-select-option *ngFor="let each of device.characteristics" value="each.characteristic">{{each.characteristic}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      Name: {{device.name}}
    </ion-card-header>
    <ion-card-content>
      ID: {{device.id}}
    </ion-card-content>
  </ion-card>
  
  
  <ion-card>
    <ion-card-header>
      Details
    </ion-card-header>
    <ion-card-content>
      <pre>{{device | json }}</pre>
    </ion-card-content>
  </ion-card>
</ion-content>
