.toolbar {
    display: flex;   
}

ion-icon{
    width: 30px;
    height: 30px;
    padding: 10px;
}

ion-icon:active{
    color: #3880ff;
}

.chart{
    padding:10px;
}
.centered {
    text-align: center;
}

ion-select {
    max-width: 100%;  
}

ion-select-option {
    width: unset !important;
    max-width: 100% !important;
    }
